*{
	margin: 0; 
	padding: 0;
}

.header {
    background-color: red;
    opacity: 0.8;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameName {
    display: flex;
    border: 1px solid blue;
    font-size: 40px;
}







