*{
	margin: 0; 
	padding: 0;
}

.header {
    background-color: red;
    opacity: 0.8;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameName {
    display: flex;
    border: 1px solid blue;
    font-size: 3em;
}

.player1,
.player2,
.player3,
.player4 {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.player1, .player3 {
    width: 100%;
    justify-content: center;

}

.player2, .player4 {
    width: 10%;
    justify-content: space-between;
}



